body{
 background-color:#eee96f;   
}

header h1{
    background-color: #727272; 
    border: 2px white solid;
    text-align: center;   
    letter-spacing: 50px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    margin: -6px;
    font-size: 45px;
}

.p1 {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 50px;
}

.div-orange1{
    background-color: #fab650;
    float: left;
    margin-left: 80px;
    width: 230px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.p-orange1{
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    margin-right: 175px;
}

.div-orange2{
    background-color: #fab650;
    margin-left: 20px;
    float: right;
}

.span-orange1{
    text-align: left;
}