body{
    background-image: url(background.jpg);
    background-size: cover;
}

header h1{
    background-image: url(bg_titulo.gif); 
    border: 2px white ridge;
    text-align: center;   
    letter-spacing: 50px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: silver;
    margin: -6px;
    font-size: 45px;
    margin-bottom: 30px;
    font-style: italic;
    margin-top: 30px;
}
.text{
        font-family: 'Courier New', Courier, monospace;
}

.nav1{
    background-color: #fab650;
    float: left;
    padding: 20px 5px 28px;
    margin-right: 80px;
    margin-left: 80px;
}
.nav2{
    background-color: #b2bdac;
    float: left;
    padding: 20px 5px 28px;
    margin-right: 80px;
}
.nav3{
    background-color: #6dba73;
    float: left;
    padding: 20px 5px 28px;
    margin-right: 10px;
}

.nav4{
    background-color: #5c2354;
    float: left;
    padding: 20px 50px 20px;
    margin-right: 10px;
    margin-left: 200px;
}


a.opcions{
    margin-right: 175px;
    text-decoration: none;
    color: black;
    transition: all 0.7s linear;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

.subtitle{
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    text-align: center;
    color: black;
    font-size: larger;
}

.contingut1{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    margin-right: 2%;
    margin-left: 200px;
}

.back1{
    background-color: #5c2354;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.back2{
    background-color: #fab650;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.back3{
    background-color: #b2bdac;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.back4{
    background-color: #6dba73;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
}
img.pc{
    display: block;
    margin: auto;
    width: 10%;
}

img.transition{
    transition: width 2s, height 2s;
    width: 2%;
    margin-left: 200px;
}

img.transition:hover{
    width: 300px;
    height: 300px;
}
